body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}

.container {
  background: rgb(190, 185, 185);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}

h1 {
  color: #0077cc;
}

p {
  font-size: 18px;
}

input, select, button {
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #0077cc;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005fa3;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #222;
}
